.wrapper {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-image: url('../../assets/img/LoginPage/login.jpg');
}

.form {
    width: 450px;
    min-height: 100px;
    padding: 48px 32px 64px;
    // Background is white but have overlay
    background: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
    margin: 24px;
    align-self: center;
    box-shadow: 0 2px 5px 0 rgba(51, 62, 73, 0.1);
}

.error {
    background-color: #f87171;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    padding: 8px 16px;
}
