.ava {
    width: 15rem;
}
h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: #1dbfaf;
}
h4 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: #00bdd6;
    padding-top: 3rem;
    padding-bottom: 1rem;
}