:root {
    --primary-color: #1dbfaf; 
    --primary-hover-color: #1ac7b6;
    --primary-disable-color: rgb(173, 172, 172);
    --black: #000;
    --white: #fff;
    --text-color: #161823;

    --font-family: 'ProximaNova', sans-serif;
}

a[href] {
    text-decoration: none;
}