@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@300;400;500;600;700&family=Pattaya&family=Roboto:wght@300;400;500;700&display=swap');

:root {
    --primary-color: #1dbfaf;
    --primary-hover-color: #1ac7b6;
    --primary-disable-color: rgb(173, 172, 172);
    --secondary-color: #7c7287;
    --black: #000;
    --white: #fff;
    --red: #da4167;
    --yellow: #f4d35e;
    --green: #9bc53d;
    --text-color: #161823;

    --roboto-font: 'Roboto', sans-serif;
    --cormorant-font: 'Cormorant', serif;
    --pattaya-font: 'Pattaya', sans-serif;
}

body {
    font-family: var(--roboto-font);
}

a[href] {
    text-decoration: none;
}
