#Copyright{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}
#Head{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}
footer{
    background-color: #22252c;
    color:aliceblue;
}