.item-title {
    margin-bottom: 20px;
}

.item-title-header {
    font-size: 32px;
    font-family: var(--pattaya-font);
    margin-right: 2px;
}

.item-title-description {
    font-size: 16px;
    color: #c49244;
    font-weight: bold;
}