.background {
    background-image: url('../../assets/img/HomePage/search.jpg');
    background-color: #cccccc;
    height: 140px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-bottom: 3%;
}

.spinner {
    margin-left: 45%;
}

// .card{
//     margin-bottom: 30px;
// }

// .card-button {
//     background-color: var(--primary-color);
//     color: var(--white);
//     font-weight: bold;
//     padding: 10px 50px;
//     border: 1px solid var(--primary-color);
// }

// .card-button:hover {
//     background-color: var(--primary-hover-color);
//     color: var(--white);
// }

.pagegination {
    margin-left: 45%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.room-thumbnail {
    width: 100%;
    height: 200px;
    background-position: center;
    background-size: cover;
}

.room-name {
    font-size: 1.4rem;
    font-family: var(--cormorant-font);
    font-weight: 700;
}

.hotel-title {
    font-size: 1.2rem;
}

.hotel-name {
    &:hover {
        color: var(--primary-color);
        cursor: pointer;
    }
}
