.title-postpage{
    text-align: center;
}

input[type='file'] {
    color: transparent;    
  }

.input-text-phone{
    width: 100px;
}

.input-text-name{
    width: 300px;
}

.input-text-address{
    width: 500px;
}

.description-input{
    border-radius: 8px;
    border: 2px solid #dadee3;
}

.submit{
    text-align: center;
}

.thumbnail-style{
    width: 500px;
}

.slider-style{
    width: 500px;
}

.btn{
    margin-left: 10px;
}